[submodule "ssl-cert-check"]
	path = sslDays/ssl-cert-check
	url = https://github.com/Matty9191/ssl-cert-check
[submodule "sslDays/ssl-cert-check"]
	path = sslDays/ssl-cert-check
	url = https://github.com/Matty9191/ssl-cert-check
